<header class="header">
  <div class="header__logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 132"><path fill="#363C4B" d="M0,0V132H132V0ZM120,24H24V36h96V72H24v36h84V96H36V84h84v36H12V60h96V48H12V12H120Z"/></svg>
  </div>
  <div class="header__brandName">
    Stephane Goeuriot
  </div>
</header>
