.dribbble {
  &__card {
    padding: $gutter/2;
    cursor: pointer;
    transition: box-shadow .3s $timing, transform .25s $timing;
    background: white;
    transform: translate(0,0);
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    &:hover {
      transform: translate(0, -20px);
      box-shadow:0 40px 40px rgba(0,0,0,.16);

    }
    img {
      width: 242px;
      height: auto;
      background: url(https://cdn-images-1.medium.com/freeze/max/27/1*sg-uLNm73whmdOgKlrQdZA.jpeg?q=20) 0 0 no-repeat;
      background-size: cover;
    }
  }
  .column {
    margin-bottom: $gutter;
  }

}
