.sameHeight {


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: $gutter/2;
    right: $gutter/2;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    border-radius: 4px;
    z-index: -1;
    transition: box-shadow .3s $timing,translate .25s $timing;
    transform: translate(0,0);
  }
  &:hover::before {

    box-shadow:0 40px 40px rgba(0,0,0,.16);
    transform: translate(0,-20px);

  }
}
